# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code settings
.vscode/

# Rider project files
.idea/

# Deployment files
*.publish/
.publish/

# Temporary files
*.tmp
*.temp
